body {
    background:url(https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1524303501895&di=c5cafa2be1d685ccd0b55febfd85f038&imgtype=0&src=http%3A%2F%2Fpic1.win4000.com%2Fwallpaper%2F0%2F59a4fb5b3aba9.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:center;
}
.main-inner { 
    margin-top: 60px;
    border-radius: 10px;
    padding: 30px 30px 30px 30px;
    background: #fff;
    opacity: 0.95;
    -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
    -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.footer-inner {
    color: #797171;
}
@font-face{
    font-family: Lobster Two;
    src: url('/fonts/LobsterTwo-Regular.ttf');
}